*.pyc
sandbox
.coverage
mprofile_*

*.ini

start-servers.sh
logs/*

demo-data/*.npz
demo-data/*.tgz
demo-data/ap/*
demo-data/models/*

notebooks/
build/
dist/
benchmarks/
htmlcov/
topicexplorer.egg-info

.cache/
.eggs/
AUTHORS
ChangeLog

*~
.travis.key

docs/_build

ap*
