bottle==0.12.13
brewer2mpl==1.4.1
decorator==4.0.11
future==0.16.0
htrc-feature-reader==1.92
langdetect==1.0.7
matplotlib==2.0.2
networkx==1.11
nltk==3.2.3
notebook==5.0.0
numpy==1.12.1
Paste==2.0.3
pdfminer.six==20170720
pip==9.0.1
profilehooks==1.10.0
progressbar2==3.35.2
pybtex==0.21
pystache==0.5.4
requests==2.18.4
scikit_learn==0.19.1
scipy==0.19.0
snakeviz==0.4.2
sortedcontainers==1.5.7
SQLAlchemy==1.1.9
ujson==1.35
Unidecode==1.0.22
vsm==0.4.1
waitress==1.1.0
wget==3.2
