bottle==0.12.13
brewer2mpl==1.4.1
decorator==4.0.11
futures==3.1.1
htrc-feature-reader==1.92
langdetect==1.0.7
networkx==1.11
nltk==3.2.3
numpy==1.12.1
Paste==2.0.3
pdfminer.six==20170720
pip==9.0.1
profilehooks==1.9.0
pybtex==0.21
pystache==0.5.4
scikit-learn==0.18.1
scipy==0.19.0
ujson==1.35
Unidecode==0.4.20
waitress==1.1.0
wget==3.2
vsm==0.4.1
